<svg version="1.1" viewBox="0 0 1000 666.75" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" height="78px" style="padding-top: 5px; padding-bottom: 5px;">
    <defs>
    <clipPath id="a">
    <path d="m0.68 668.39h197.47v173.5h-197.47v-173.5z"/>
    </clipPath>
    <clipPath id="b">
    <path d="m46.806 720.18h106.62v71.051h-106.62v-71.051z"/>
    </clipPath>
    </defs>
    <metadata>
    <rdf:RDF>
    <cc:Work rdf:about="">
    <dc:format>image/svg+xml</dc:format>
    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
    <dc:title/>
    </cc:Work>
    </rdf:RDF>
    </metadata>
    <g transform="translate(-267.69 1454.5)">
    <g transform="matrix(9.37 0 0 -9.37 -170.39 5959.8)">
    <g clip-path="url(#b)">
    <g transform="translate(101.9 787.41)">
    <path d="m0 0c-0.426-0.517-0.639-1.018-0.872-1.642 0.551-1e-3 1.118 0.226 1.722 0.541-0.325-0.633-0.573-1.474-0.507-1.982-0.453 0.23-0.783 0.425-1.318 0.481 0.019-0.572 0.129-1.044 0.289-1.592-0.83 0.2-1.621 0.194-2.442 0.061 0.471 0.503 0.864 0.975 1.167 1.544-0.566 0.085-1.098 0.029-1.723-0.279 0.276 0.582 0.472 1.253 0.581 1.933 0.366-0.376 0.822-0.626 1.325-0.763 0.025 0.459-0.056 1.044-0.251 1.64 0.665-0.055 1.363-0.03 2.029 0.058" fill="#231f20"/>
    </g>
    <g transform="translate(120.64 759.31)">
    <path d="m0 0c-0.554-0.552-0.823-1.141-0.823-1.763 0-1.211 0.539-2.015 0.539-3.565 0-1.657-1.015-3.329-2.678-4.994-4.449-4.451-11.568-6.568-20.921-6.568-6.453 0-15.614 1.819-19.195 5.445-0.998 1.011-1.511 2.383-1.511 3.63 0 2.487 1.95 3.428 1.95 5.378 0 1.146-1.478 2.087-5.582 2.087-5.779 0-15.862-3.902-20.973-3.902-1.682 0-3.499 0.539-4.64 1.581l2.486 2.858c1.549-1.815 3.163-2.354 5.581-2.354 7.733 0 14.523 4.571 20.976 4.571 2.385 0 3.831-1.174 3.831-3.023 0-2.757-1.944-2.757-1.944-5.109 0-4.239 12.703-8.404 24.131-8.404 9.966 0 16.536 3.628 16.536 5.983 0 1.379-0.469 1.58-0.469 3.156 0 2.489 1.952 5.315 4.135 7.499 2.216 2.218 6.15 2.655 9.713 2.655 5.581 0 12.776-1.209 17.21-1.209 1.347 0 3.565 0.335 4.439 1.679-0.874-1.679-3.092-3.831-8.204-3.831-12.064 0-21.543 1.242-24.587-1.8" fill="#e5143c"/>
    </g>
    </g>
    </g>
    <g transform="matrix(9.37 0 0 -9.37 -170.39 5959.8)">
    <g clip-path="url(#a)">
    <g transform="translate(93.985 785.04)">
    <path d="m0 0c-0.187-1.309 0.387-1.647 0.434-2.902 0.725 0.248 2.608 0.383 3.194 0.436-0.752-0.323-1.764-1.432-2.517-1.84 1.228-0.735 1.359-1.744 1.985-2.277-0.702 0.281-1.903-0.14-2.855 0.632-0.092-0.703-0.964-2.351-1.161-3.583-0.475 2.343-0.812 2.913-0.872 3.873-1.284-0.489-2.426-0.119-3.3-0.085 1.074 0.538 1.881 0.807 2.673 1.585-0.722 1.037-0.924 1.776-1.405 2.178 0.714-0.233 2.205-0.76 2.658-0.821 0.064 1.314 0.781 2.336 1.166 2.804" fill="#231f20"/>
    </g>
    <g transform="translate(108.5 783.35)">
    <path d="m0 0c-0.414-0.558-0.954-1.296-1.159-2.468 0.977 0.095 2.244-0.121 2.515-0.338-0.865-0.204-1.942-1.113-2.418-1.598 0.345-0.891 0.579-1.767 0.968-3.195-0.69 0.86-1.399 1.497-2.226 2.325-0.618-0.897-1.223-1.906-1.79-2.807 0.131 1.238-0.406 2.279 0.29 3.29-1.031 0.37-2.141 0.37-2.664 0.776 1.228 0.231 1.887 1.014 2.806 1.064 0 0-0.838 2.058-1.627 2.679 1.091-0.217 2.169-0.721 2.743-1.374 0.5 0.418 1.266 1.48 2.562 1.646" fill="#231f20"/>
    </g>
    <g transform="translate(88.96 785.45)">
    <path d="m0 0s0.605 1.813 2.283 3.495c1.684 1.679 3.499 2.285 5.653 2.285 2.146 0 7.798-0.741 10.485-0.741 2.69 0 3.363 0.27 4.167 0.741-0.201-0.539-0.201-0.741-0.872-1.411-1.078-1.078-2.355-1.411-5.111-1.411-4.234 0-6.385 0.2-9.007 0.2-2.624 0-4.037-0.18-5.244-0.941-1.278-0.806-2.354-2.217-2.354-2.217" fill="#e5143c"/>
    </g>
    <g transform="translate(91.126 774.83)">
    <path d="m0 0c-0.015-0.676 0.064-1.887 1.127-3.265 0.135 0.605 1.178 0.37 3.036 1.621-0.491-0.571-1.223-1.917-1.742-2.566 1.097-0.335 1.229-1.711 2.179-2.467-0.918 0.521-2.282 0.596-2.834 0.958 0.313-1.236-0.402-2.587-0.168-3.767-0.362 0.508-1.213 2.87-1.354 2.951-1.065-0.362-2.342-1.636-2.662-1.5 1.092 1.174 0.992 2.418 1.597 2.955-0.866 0.039-2.334 1.161-2.761 1.788 1.281-0.375 2.121-0.477 3.052-0.192 0 0.602 0.079 3.043 0.53 3.484" fill="#231f20"/>
    </g>
    <g transform="translate(106.71 774.83)">
    <path d="m0 0c-0.273-1.415 0.097-2.221 0-3.532 0.466 0.234 1.439-0.035 2.856 0.289-1.012-0.661-1.784-1.265-2.37-1.983 0.648-0.895 0.686-1.836 1.498-2.905-0.812 0.428-1.989 1.136-2.61 1.405-0.385-0.506-0.825-1.445-0.97-3.051-0.258 1.269-0.694 2.512-0.63 3.825-1.275-0.337-1.846 0.031-3.099-0.194 1.285 0.762 2.517 1.499 2.517 1.499-0.156 0.171-0.759 0.543-1.692 3.294 1.186-1.053 1.638-0.971 2.951-1.985 0.033 1.082 0.839 1.384 1.549 3.338" fill="#231f20"/>
    </g>
    <g transform="translate(97.096 773.01)">
    <path d="m0 0c1.006 4.976 2.821 9.008 2.821 9.008 0.336-5.173-0.804-9.345 0.117-18.467h1.017c0.436 0 0.452 0.485 0.823 0.485 0.328 0 0.733-0.741 1.644-0.723-0.845-0.653-1.212-1.115-1.548-1.115-0.338 0-0.475 0.337-0.823 0.337-0.76 0-1.195-0.114-1.869-0.114 0-0.67-0.032-1.61-0.032-2.419 0-0.479 0.643-0.304 0.643-0.805 0-0.362-0.83-1.261-0.968-2.275-0.488 0.943-1.307 1.499-1.307 2.079 0 0.496 0.483 0.396 0.483 0.872 0 0.968-0.194 1.773-0.194 2.468 0 0-0.975-0.021-1.749-0.021-0.488 0-0.306-0.726-0.912-0.849-0.434 7e-3 -1.743 0.581-1.743 0.581 0.435 0.268 0.974 1.343 1.409 1.343 0.366 0 0.427-0.369 0.707-0.369 0 0 1.495 0.173 1.817 0.306-0.07 0.211-0.404 7.93-0.336 9.678" fill="#231f20"/>
    </g>
    <g transform="translate(86.607 771.93)">
    <path d="m0 0s-1.279-2.422-1.279-4.847c0-3.361 1.549-5.372 4.033-7.859 1.662-1.661 5.393-3.983 7.598-6.384 1.369-1.495 2.419-2.49 2.154-4.139 0.368 0.639 0.536 1.649 0.536 2.655 0 2.255-1.33 3.581-3.145 5.326-1.923 1.857-4.399 3.72-6.4 5.7-2.177 2.156-3.632 4.63-3.632 6.992 0 1.076 0.135 2.556 0.135 2.556" fill="#e5143c"/>
    </g>
    <g transform="translate(72.185 722.28)">
    <path d="m0 0c0-0.978 0.152-1.432 1.499-1.468v-0.453h-4.869v0.453c1.364 0.086 1.499 0.456 1.499 1.585v6.285c0 1.262-0.186 1.686-1.499 1.704v0.453h4.869v-0.453c-1.265-0.053-1.499-0.323-1.499-1.788v-2.511h6.084v2.527c0 1.367-0.169 1.719-1.55 1.772v0.453h4.953v-0.453c-1.329-0.069-1.531-0.355-1.531-1.654v-6.35c0-1.197 0.183-1.484 1.531-1.57v-0.453h-4.953v0.453c1.314 0.051 1.55 0.405 1.55 1.601v2.917h-6.084v-3.05" fill="#231f20"/>
    </g>
    <g transform="translate(86.532 723.97)">
    <path d="m0 0c-1.801-1.061-2.055-1.163-2.055-2.007 0-0.588 0.323-0.993 0.792-0.993 0.252 0 0.421 0.102 0.609 0.237 0.164 0.133 0.304 0.235 0.654 0.47v2.293zm2.935-2.747c-0.794-0.706-1.433-1.044-1.99-1.044-0.641 0-0.959 0.355-0.945 1.044-0.808-0.626-0.994-1.044-1.988-1.044-1.027 0-1.752 0.674-1.752 1.618 0 0.471 0.154 0.875 0.438 1.162 0.338 0.337 0.843 0.507 1.433 0.673 0.59 0.186 1.247 0.387 1.869 0.827v0.539c0 1.179-0.35 1.701-1.144 1.701-0.524 0-0.946-0.319-0.946-0.706 0-0.153 0.087-0.356 0.17-0.507l-1.533-0.625c-0.15 0.203-0.201 0.371-0.201 0.524 0 0.825 1.564 1.937 3.047 1.937 1.384 0 2.208-0.673 2.208-1.886v-3.776c0-0.353 0.102-0.572 0.356-0.572 0.201 0 0.471 0.135 0.824 0.439l0.154-0.304" fill="#231f20"/>
    </g>
    <g transform="translate(93.985 723.97)">
    <path d="m0 0c-1.804-1.061-2.056-1.163-2.056-2.007 0-0.588 0.324-0.993 0.791-0.993 0.255 0 0.424 0.102 0.608 0.237 0.167 0.133 0.302 0.235 0.657 0.47v2.293zm2.932-2.747c-0.792-0.706-1.432-1.044-1.99-1.044-0.639 0-0.958 0.355-0.942 1.044-0.809-0.626-0.995-1.044-1.989-1.044-1.026 0-1.752 0.674-1.752 1.618 0 0.471 0.152 0.875 0.439 1.162 0.338 0.337 0.842 0.507 1.433 0.673 0.588 0.186 1.244 0.387 1.869 0.827v0.539c0 1.179-0.355 1.701-1.144 1.701-0.525 0-0.946-0.319-0.946-0.706 0-0.153 0.086-0.356 0.169-0.507l-1.533-0.625c-0.152 0.203-0.203 0.371-0.203 0.524 0 0.825 1.567 1.937 3.05 1.937 1.383 0 2.208-0.673 2.208-1.886v-3.776c0-0.353 0.101-0.572 0.353-0.572 0.201 0 0.47 0.135 0.825 0.439l0.153-0.304" fill="#231f20"/>
    </g>
    <g transform="translate(97.225 726.24)">
    <path d="m0 0v0.335l2.309 0.743h0.421v-1.686h0.035c0.657 1.247 1.042 1.686 1.497 1.686 0.254 0 0.574-0.218 1.587-0.421l-0.557-1.382c-0.76 0.151-1.246 0.473-1.466 0.473-0.387 0-0.742-0.356-1.096-1.08v-2.797c0-1.212 0.305-1.349 1.683-1.332v-0.419h-4.413v0.419c0.776 0 1.129 0.272 1.129 1.265v3.774l-1.129 0.422" fill="#231f20"/>
    </g>
    <g transform="translate(103.23 730.96)">
    <path d="m0 0 2.411 0.711h0.485v-9.642c0-0.959 0.256-1.247 1.284-1.247v-0.42h-4.18v0.42c1.062 0 1.299 0.339 1.299 1.365v7.332c0 0.773-0.07 0.959-1.299 1.062v0.419" fill="#231f20"/>
    </g>
    <g transform="translate(112.99 724.74)">
    <path d="m0 0c-0.137 1.399-0.641 2.124-1.501 2.124-0.897 0-1.435-0.705-1.6-2.124h3.101zm1.854-2.712c-0.846-1.265-1.959-1.853-3.423-1.853-2.357 0-3.133 1.819-3.133 3.387 0 2.19 1.467 3.757 3.488 3.757 0.91 0 1.635-0.304 2.087-0.757 0.778-0.776 0.475-1.568 1.065-1.822v-0.471h-5.039c0-1.87 1.026-3.117 2.511-3.117 0.723 0 1.413 0.387 2.124 1.179l0.32-0.303" fill="#231f20"/>
    </g>
    <g transform="translate(115.77 726.58)">
    <path d="m0 0 2.276 0.743h0.421v-1.348c1.401 0.944 2.344 1.348 3.098 1.348 0.829 0 1.352-0.455 1.572-1.4 1.396 0.961 2.409 1.4 3.15 1.4 1.11 0 1.684-0.859 1.684-2.308v-2.882c0-0.825 0.135-1.349 1.114-1.349v-0.419h-3.811v0.419c0.676 0 1.098 0.254 1.098 1.197v2.982c0 0.76-0.27 1.399-1.029 1.399-0.559 0-1.283-0.321-2.125-0.943v-3.286c0-1.045 0.322-1.349 1.13-1.349v-0.419h-3.823v0.419c0.705 0 1.094 0.254 1.094 1.214v2.83c0 0.794-0.135 1.534-1.026 1.534-0.576 0-1.25-0.302-2.126-0.943v-3.319c0-1.044 0.304-1.316 1.113-1.316v-0.419h-3.81v0.419c0.792 0 1.095 0.372 1.095 1.248v2.966c0 0.925-0.031 0.977-1.095 1.165v0.417" fill="#231f20"/>
    </g>
    </g>
    </g>
    </g>
</svg>