<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/fonts.css" rel="stylesheet">
    <link href="/bootstrap.min.css" rel="stylesheet" >

    <title>Gemeente Haarlem - Parkeervergunning voor bewoners aanvragen</title>
    <style>
        .navbar { min-height: 78px; }
        .container-fluid { max-width: 1080px; }
        body { font-family: 'Work Sans', sans-serif; }
        .navbar-brand { padding-top: 0; padding-bottom: 0; }
        .lead { line-height: 1.55; margin-bottom: 20px; }
        .title { padding: 16px 0 12px; }
        h1, h2, h3, h4, h5, h6 { font-family: 'Crimson Text', serif; }
        h2 { line-height: 1.25; color: #ab222f; padding-top: 24px; margin-top: 30px; margin-bottom: 24px; border-top: 2px solid #e0e0e0; }
        .btn-primary { background-color: #ab222f; }
        .btn-primary:focus, .btn-primary:hover { background-color: #9a6f1e; }
        .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle { background-color: #7b1b24; }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-extend-lg navbar-light bg-white border-bottom shadow-sm">
        <div class="container-fluid">
            <div class="navbar-brand">
                <a href="/">
                    {% include 'partials/logo.html' %}
                    <span class="sr-only">Home</span>
                </a>
            </div>
        </div>
    </nav>

    <div class="container-fluid mt-5">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

    <script src="/jquery-3.3.1.slim.min.js"></script>
    <script src="/popper.min.js"></script>
    <script src="/bootstrap.min.js"></script>
  </body>
</html>