{% extends 'base.html' %}

{% block content %}
    <div class="title">
        <h1>Parkeervergunning voor bewoners aanvragen</h1>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <p class="lead">Woont u of gaat u wonen in een gebied waar betaald parkeren geldt? Met een parkeervergunning voor bewoners kunt u daar parkeren zonder ter plekke te hoeven betalen.</p>

            <h2>Vraag een vergunning aan</h2>
            <form method="POST" action=".">
                <div class="form-group">
                    <label for="burgerservicenummer">Burgerservicenummer</label>
                    <input type="text" class="form-control" id="burgerservicenummer" name="burgerservicenummer" placeholder="Vul hier uw burgerservicenummer in" autofocus required value="{{ form.burgerservicenummer }}">
                    <small class="form-text text-muted">Het burgerservicenummer is een 9-cijferig nummer dat u terug kunt vinden op uw identiteitskaart en paspoort.</small>
                </div>
                <div class="form-group">
                    <label for="kenteken">Kenteken</label>
                    <input type="text" class="form-control" id="kenteken" name="kenteken" placeholder="Vul hier uw kenteken in" required value="{{ form.kenteken }}">
                    <small class="form-text text-muted">Vul hier uw kenteken in zonder streepjes, bijvoorbeeld 41PDTL.</small>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit" class="btn btn-primary">Parkeervergunning aanvragen ›</button>
            </form>
        </div>
    </div>
{% endblock %}