{% extends 'base.html' %}

{% block content %}
    <div class="title">
        <h1>Parkeervergunning voor bewoners aanvragen</h1>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <p class="lead">Woont u of gaat u wonen in een gebied waar betaald parkeren geldt? Met een parkeervergunning voor bewoners kunt u daar parkeren zonder ter plekke te hoeven betalen.</p>

            <h2>Vraag een vergunning aan</h2>
            <p>Bedankt voor uw aanvraag. We nemen de aanvraag zo snel mogelijk in behandeling. U ontvangt binnen 10 werkdagen de parkeervergunning per post.</p>
        </div>
    </div>
{% endblock %}